.main-container {
  margin: 0 auto;
  width: 800px;
}

.canvas-controls {
  height: auto;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  grid-template-areas:
    "height interval"
    "width  auto-generate_start"
    "basic-generate auto-generate_stop";
}

.controls-box {
  justify-self: center;
}

.height {
  grid-area: height;
}

.width {
  grid-area: width;
}

.basic-generate {
  grid-area: basic-generate;
}

.interval {
  grid-area: interval;
}

.auto-generate_start {
  grid-area: auto-generate_start;
}

.auto-generate_stop {
  grid-area: auto-generate_stop;
}





#canvas {
  height: 800px;
  width: 100%;
  display: grid;
}

.canvas-cell {
  max-height: 200px;
  max-width: 200px;
  background-size: 100% 100%;
}

.cell-fill-1 {
  background-image: url("img/1.png");
}

.cell-fill-2 {
  background-image: url("img/2.png");
}

.cell-fill-3 {
  background-image: url("img/3.png");
}

.cell-fill-4 {
  background-image: url("img/4.png");
}
